.game-container {
    padding: 40px;
    text-align: center;
  }
  
  .question-title {
    margin-bottom: 30px;
  }
  
  .image-options {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .option {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .option-played{
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
  }
  .option:hover {
    transform: scale(1.05);
  }
  
  .option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
  }
  
  .option-text {
    position: absolute;
    bottom: 0; /* 꼭대기가 아닌 하단에 붙게 */
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6); /* 어두운 반투명 배경 */
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .next-game {
  display: flex;
  align-items: center; /* 세로 중앙정렬 */  
  justify-content: center; /* 가로 중앙 정렬 */
  gap: 30px; /* 요소 사이 간격 */
  margin-top: 30px; /* 위쪽 여백 */
}

.ratio{
  display: flex;
  align-items: center; /* 세로 중앙정렬 */  
  justify-content: center; /* 가로 중앙 정렬 */
  gap: 30px; /* 요소 사이 간격 */
  margin-top: 30px; /* 위쪽 여백 */
  font-size: 1.3rem;
  font-weight: bold;
}

.result {
  font-size: 1.3rem;
  font-weight: bold;
}

.next-game-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}